<html>
    
    {% include 'base.html' %}

    <body>
        <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
            <button class="btn btn-primary my-2" onclick="window.location.href='/login';">Login</button>
            <button class="btn btn-primary my-2" onclick="window.location.href='/profile';">Profile Page</button>
            <button class="btn btn-primary my-2" onclick="window.location.href='/logout';">Logout</button>
        </div>
    </body>

</html>